{% extends "base.html" %}
{% block content %}
<div class="glass shadow col-md-4 offset-md-4">
<h4>Giriş Yap</h4>
<form method="POST">
  <input class="form-control mb-2" name="username" placeholder="Kullanıcı adı" required>
  <input type="password" class="form-control mb-2" name="password" placeholder="Şifre" required>
  <button class="btn btn-primary w-100">Giriş Yap</button>
  <div class="mt-3 text-center">
    <a class="btn btn-primary w-10" href='/register'>Kayıt Ol</a> • <a class="btn btn-primary w-10" href='/reset'>Şifre Sıfırla</a>
  </div>
</form>
</div>
{% endblock %}
